.projectsContainer {
	/* background by SVGBackgrounds.com */
	background: rgb(83, 84, 87);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234f4f4f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23626265' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234d4e4c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23616163' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234b4d49' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235f5f61' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23484c46' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235e5e5f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23464b43' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235c5c5d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23444a40' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235b5b5b' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.projectsTitle {
	color: #212121;
	text-align: center;
	font-size: 5rem;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}

.projectsArea {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* Project Buttons */
.projectChoiceButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	max-height: 500px;
}

.projectChoiceButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	font-size: 1.3rem;
	background-color: #bdbdbd;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	color: #212121;
	border: #212121 0.125em solid;
	padding: 0.1em 1em;
	border-radius: 0.25em;
	text-shadow: 0 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
	box-shadow: inset 0 0 0.5em 0 #212121, 0 0 0.5em 0 #212121;
	position: relative;
}

.projectChoiceButton::before {
	pointer-events: none;
	content: '';
	position: absolute;
	background: #212121;
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;
	transform: perspective(0.5em) rotateX(20deg) scale(1, 0.45);
	filter: blur(1.7em);
	opacity: 0.7;
}

.projectChoiceButton::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 2em 0.5em #212121;
	opacity: 0;
	transition: opacity 100ms linear;
}

.projectChoiceButton:hover::after,
.projectChoiceButton:focus::after {
	opacity: 1;
}
.projectChoiceButton:hover::before,
.projectChoiceButton:focus::before {
	opacity: 1;
}

.projectChoiceButton:hover,
.projectChoiceButton:focus {
	background: #212121;
	color: #bdbdbd;
}

/* Project Image */
.projectImageArea {
	margin-top: 20px;
	width: 700px;
	height: 500px;
	position: relative;
	border-radius: 1.5em;
	overflow: hidden;
	transition: transform 750ms ease;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.projectImageButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.3) 20%, hsl(0 0% 0% / 0.7));
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	opacity: 0;
	transition: opacity 750ms linear;
}

@media (hover) {
	.projectImageArea:hover,
	.projectImageArea:focus-within {
		transform: scale(1.02);
	}
	.projectImageArea:hover .projectImageButtonContainer,
	.projectImageArea:focus-within .projectImageButtonContainer,
	.projectImageArea:hover .projectStackArea,
	.projectImageArea:focus-within .projectStackArea {
		opacity: 1;
	}
}

/* Project Info */
.projectInfoArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	width: 30%;
}

.projectsSubTitle {
	color: #212121;
	text-align: center;
	font-size: 3rem;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}

.projectInfoArea h2 {
	color: #212121;
	text-align: center;
	font-size: 1.8rem;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}

.projectParagraph {
	color: #212121;
	text-align: center;
	text-shadow: 1px -1px 0 #767676;
	font-size: 1.8rem;
}
.projectList {
	color: #212121;
	text-shadow: 1px -1px 0 #767676;
	font-size: 1.8rem;
	text-align: center;
	list-style: none;
}

/* Project Stack */
.projectStackArea {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(hsl(0 0% 0% / 0.7), hsl(0 0% 0% / 0.3) 80%, hsl(0 0% 0% / 0));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
	opacity: 0;
	transition: opacity 750ms linear;
}

.projectStackImage {
	height: 50px;
	margin: 0 20px;
}

/* Responsiveness */
@media screen and (max-width: 1540px) {
	.projectsArea {
		flex-direction: column;
	}
	.projectChoiceButtons {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.projectChoiceButton {
		width: 200px;
		height: 60px;
		margin: 10px 10px;
		word-wrap: break-word;
	}
	.projectImageArea {
		width: 100%;
		background-position: center;
	}
	.projectInfoArea {
		margin: 20px auto;
		width: 70%;
	}
}
