.aboutContainer {
	/* background by SVGBackgrounds.com */
	background: rgb(83, 84, 87);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234f4f4f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23626265' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234d4e4c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23616163' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234b4d49' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235f5f61' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23484c46' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235e5e5f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23464b43' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235c5c5d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23444a40' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235b5b5b' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.aboutTitle,
.aboutMainTitle {
	color: #212121;
	text-align: center;
	font-size: 4.5rem;
	padding-top: 7vh;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}
/* Who What When Where */
.aboutArea {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutArea h2,
.oneStack h2 {
	color: #212121;
	font-size: 2.2rem;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}

.aboutQuestion {
	width: 60%;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Description  */
.descriptionContainer {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

/* Stacks */
.aboutStackContainer {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.oneStack {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 33%;
	margin: 20px 0;
}

.stackImage {
	height: 100px;
	width: 75px;
}

/* Summary */
.summaryContainer {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.singleSummary {
	display: flex;
	align-items: center;
}

.summaryImage {
	margin-right: 10px;
	height: 30px;
}

.summaryText {
	margin: 5px 0;
	font-size: 2rem;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272;
}

/* Responsiveness */
@media screen and (max-width: 1014px) {
	.aboutMainTitle {
		padding-top: 16vh;
	}
}
@media screen and (max-width: 768px) {
	.summaryContainer {
		width: 80%;
	}
	.aboutTitle {
		font-size: 2.5rem;
	}
	.aboutArea h2,
	.oneStack h2 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 599px) {
    .aboutMainTitle {
        padding-top: 20vh;
    }
}

@media screen and (max-width: 530px) {
	.aboutTitle {
		font-size: 2.5rem;
	}
	.aboutArea h2,
	.oneStack h2 {
		font-size: 1.2rem;
	}
}
