#videoBG {
	position: fixed;
	z-index: -99;
}

@media (min-aspect-ratio: 16/9) {
	#videoBG {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	#videoBG {
		width: auto;
		height: 100%;
	}
}

.home-image {
	text-align: center;
}

.mobileViewHomeContainer {
	display: none;
}

.home-image svg {
	margin: 150px 0;
}

#WebDev {
	animation: spinning 10s linear infinite;
	transform-origin: center;
}

@keyframes spinning {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(-360deg);
	}
}

@media screen and (max-width: 768px) {
	.homeContainer {
		background-image: url('../../assets/BG-Moment.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.home-image {
		display: none;
	}
	#videoBG {
		display: none;
	}
	.mobileViewHomeContainer {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.homeMobileTitle {
		font-size: 3rem;
		margin-bottom: 20px;
		text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
	}
	.homeMobileText {
		font-size: 2rem;
		text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
	}
}

@media screen and (max-width: 486px) {
	.homeMobileTitle {
		margin-top: 40%;
	}
}