.contactContainer {
    	/* background by SVGBackgrounds.com */
	background: rgb(99, 168, 184);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234f4f4f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23626265' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234d4e4c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23616163' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234b4d49' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235f5f61' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23484c46' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235e5e5f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23464b43' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235c5c5d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23444a40' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235b5b5b' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.contactsTitle {
    color: #212121;
	text-align: center;
	font-size: 4.5rem;
    padding-top: 7vh;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474;
}

.contactsSection {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.contactsSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.contactsArea {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    z-index: 2;
}

/* Contact Info */

.contactsInfo {
    position: absolute;
    top: 60px;
    width: 300px;
    height: calc(100%-80px);
    background: #212121;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.contactsSubTitle {
    color: #bdbdbd;
    font-size: 2rem;
    font-weight: 500;
}

.contactInfo {
    position: relative;
    margin: 20px 0;
}

.contactInfo li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: default;
    align-items: flex-start;
}

.contactInfo li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
    opacity: 0.7;
    color: white;
}

.contactInfo li span:nth-child(2) {
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.7;
}

.contactInfo li span:nth-child(2):hover {
    opacity: 0.9;
}

.contactsIconLinks {
    position: relative;
    display: flex;
}

.contactsIconLinks li {
    list-style: none;
    margin-right: 15px;
}

.contactsIconLinks li a {
    text-decoration: none;
    color: #bdbdbd;
    opacity: 0.7;
}

.contactsIconLinks li a:hover {
    opacity: 1;
}

/* Contact Form */

.contactForm {
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100%-150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

.contactForm h2 {
    color: #212121;
    font-size: 2rem;
    text-shadow: 1px 1px 2px #5f5f5f;
    font-weight: 500;
}

.formArea {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.contactInput {
    position: relative;
    margin: 0 0 35px 0;
}

.contactInputInfo {
    width: 47%;
}

.contactInputText {
    width: 100%;
}

.contactInputInfo input,
.contactInputText textarea {
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: #212121;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.contactInputText textarea {
    resize: none;
    height: 120px;
}

.contactInput span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: #212121;
    transition: 0.3s;
    pointer-events: none;
}

.contactInput input:focus ~ span,
.contactInput textarea:focus ~ span,
.contactInput input:valid ~ span,
.contactInput textarea:valid ~ span {
    transform: translateY(-40px);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #bdbdbd;
}

.contactInput input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #212121;
    color: white;
    border: none;
    width:150px;
    padding: 12px;
    opacity: 0.8;
}

.contactInput input[type="submit"]:hover {
    opacity: 1;
}

@media screen and (min-width: 1055px) {
    .contactsSection {
        min-height: 800px;
    }
}

@media screen and (max-width: 1054px) {
    .contactsSection {
        height: 1300px;
    }
    .contactForm {
        margin-left: 0;
        top: 370px;
        height: 60%;
        padding-left: 50px;
    }
    .contactsInfo {
        top: 0;
        left: 20%;
        height: 330px;
    }
}

@media screen and (max-width: 1014px) {
	.contactsTitle {
		padding-top: 16vh;
	}
}

@media screen and (max-width: 617px) {
    .contactsSection {
        height: 165vh;
    }
    .contactInputInfo {
        width: 100%;
    }
    .contactForm {
        min-height: 700px;
    }
}

@media screen and (max-width: 599px) {
    .contactsSection {
        height: 190vh;
    }
    .contactForm {
        min-height: 700px;
    }
    .contactsTitle {
        padding-top: 20vh;
    }
}

@media screen and (max-width: 486px) {
    .contactsSection {
        height: 225vh;
    }
    .contactForm {
        min-height: 700px;
        width: 100%;
    }
    .contactsInfo {
        left: 0px;
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 360px) {
    .contactsSection {
        height: 250vh;
    }
}